spring:
  application:
    name: WorkoutTracker

  datasource:
    url: jdbc:h2:mem:workoutdb;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE # jdbc:postgresql://localhost:5432/appdb
    driver-class-name: org.h2.Driver
    username: sa
    password:

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.H2Dialect

  h2:
    console:
      enabled: true
      path: /h2-console

jwt:
  issuer: dummy
  secret: dummy
  expiration-hours: 2

management:
  endpoints:
    web:
      exposure:
        include: "*"
