spring:
  application:
    name: WorkoutTracker

  datasource:
    url: jdbc:postgresql://localhost:5432/appdb
    driver-class-name: org.postgresql.Driver
    username: appuser
    password: apppass

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

  h2:
    console:
      enabled: true
      path: /h2-console

jwt:
  issuer: dummy
  secret: dummy
  expiration-hours: 2

management:
  endpoints:
    web:
      exposure:
        include: "*"
