spring:
  application:
    name: WorkoutTracker

  datasource:
    url: jdbc:h2:mem:workoutdb
    driver-class-name: org.h2.Driver
    username: sa
    password:

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.H2Dialect

  h2:
    console:
      enabled: true
      path: /h2-console

jwt:
  issuer: cabecao
  secret: cabecao
  expiration-hours: 2

management:
  endpoints:
    web:
      exposure:
        include: "*"
